$primary-color: #0055A4;
$secondary-color: #2ecc71;
$danger-color: #e74c3c;
$warning-color: #f1c40f;
$text-color: #333;
$background-color: #f8f8f8;

$font-family-primary: "Noto Sans CJK SC", "Noto Sans", sans-serif;

body{
  font-family: $font-family-primary;
}